.basic-layout {
    .toptitle {
        height: 64px;
        width: 100%;
        padding: 0 15px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 2px 8px #f0f1f2;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        background-color: #fff;

        .left {
            width: 200px;
            img {
                width: 55.14px;
                height: 55px;
                margin-right: 15px;
            }
            .texttitle{
                font-size: 18px;
                font-weight: 550;  
            }
        }
        .right {
            line-height: 34px;
            .btnspan{
                display: inline-block;
                align-items: center;
                width: 40px;
                margin-left: 10px;
                padding:0px 5px;
                height: 30px;
                cursor: pointer;
                
            }
            .btnspan:hover{
                background-color: #f0f0f0;   
            }
        }
    }
    .holderone{
        // 占位
        width: 100%;
        height: 64px;
    }
    .content{
        float:left;
        background-color: #FAFAFA;
        padding-top:5px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        .left{
            width: 256px;
            border-right: 1px solid #f0f0f0;
            background-color: rgba(255, 255, 255, 0.973);
        }
        .right{
            border-right: 1px solid #f0f0f0;
            flex:1;
            margin: 19px 24px 24px 24px;
            background-color: #FFFFFF;

        }
    }
}
