.booksInfo{
    
    .between{
        .search{
            width: 200px;
            display: inline-block;
            a{
                width:40px;
                margin-left: 15px;
                line-height: 32px;
            }
        }
       .btn{
           float:right;
       }
    }
    .pages{
        width: 100%;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        .pageItem{
            width: auto;
        }
    }
    
    
}