.booksInfo{
    .search{
        width: 200px;
        display: flex;
        a{
            width:40px;
            margin-left: 15px;
            line-height: 32px;
        }
    }
    .btn{
        display: flex;
    }
    
}