.userManage{
    .between{
        .search{
            position: relative;
            width: 200px;
            display: inline-block;
            a{
                position: absolute;
                top: 0;
                width:40px;
                margin-left: 15px;
                line-height: 32px;
            }
        }
       .btn{
           float:right;
       }
    }
    h2{
        font-weight: 600;
    }
    .pages{
        width: 100%;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        .pageItem{
            width: auto;
        }
    }
}